{{>headdashboard}}
<body id="page-top">
  <div id="wrapper">
    {{>sidebardashboard}}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {{>topbar}}
        <div class="container-fluid">
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div class="chart-area">
                    <div class="" style="overflow-x:auto;"></div>
                      <div class="col-sm" style="overflow-x:auto;">
                        {{#if resultshow}}
                          <div id="mydiv" class="card text-white bg-{{cardcolor}}">
                              <div class="card text-white bg-{{cardcolor}}">
                                <div class="card-body">
                                  <p class="card-text">{{resultshow}}</p>
                                </div>
                              </div>
                          </div><br>
                        {{/if}}
                      </div>
                   </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
          {{>footerdashboard}}
      </div>
    </div>
    <script>
      setTimeout(function() {
          $('#mydiv').fadeOut('fast');
      }, 6000);
    </script>
</body>
</html>
