{{>headdashboard}}
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar-->
    {{>sidebardashboard}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{>topbar}}
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          {{!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard - {{roll}}</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Descarga certificado</a>
          </div> --}}
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div class="chart-area">
                    <div class="" style="overflow-x:auto;"></div>
                      <div class="col-sm" style="overflow-x:auto;">
                        {{#if resultshow}}
                          <div id="mydiv" class="card text-white bg-{{cardcolor}}">
                              <div class="card text-white bg-{{cardcolor}}">
                                <div class="card-body">
                                  <p class="card-text">{{resultshow}}</p>
                                </div>
                              </div>
                          </div><br>
                        {{/if}}
                      </div>
                   </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
          {{>footerdashboard}}
      </div>
    </div>
  <script>
    setTimeout(function() {
        $('#mydiv').fadeOut('fast');
    }, 6000);
  </script>



</body>
</html>
